@charset "utf-8";

/*리셋 CSS*/
html,body,
p,div,
ul,dl,ol,dd,li,
table,tr,th,td,
h1,h2,h3,h4,
form,fieldset,legend,
table,tr,td,th,caption,
address,blockquote {margin:0; padding:0;}
address,em {font-style:normal;}
fieldset, img {border:0 none;}
h1,h2,h3,h4,h5 {font-size:1em;}
legend, caption, hr{display:none;width:0; height:0; font-size:0;}
input{padding:0;margin:0;border:0px;vertical-align: middle;}
table{border-collapse:collapse;border-spacing:0;}
dl, dt, dd, ul, ol, li{
	list-style:none;
	padding:0;
	margin:0;
}

article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{ display:block;}
img {vertical-align:middle;}
table {border-spacing:0px;border:0px;border-collapse:collapse;}
address,hr{display:none;}
form {display:inline;}
fieldset {padding:0;margin:0;border:none;}

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
body{font-size:13px;color:#3C3C3C;font-family:'나눔고딕',NanumGothic , 'Nanum Gothic',"dotum", "arial", "sans-serif" ;}
a{color:#ffffff;text-decoration:none;}
a:hover{color:#fffff;text-decoration:none;}
 
.wrap{width:1000px;margin:0 auto;}
 
 /* 어드민 로그인 */
.login_position{margin:0 auto;width:400px;margin-top:20%;}
.login_position h1{text-align:center;margin-bottom:30px;}
.login_bg{background:#f2f2f2;padding:20px;width:360px;}
.login_bg li{height:30px;line-height:30px;}
.login_bg .stitle {display:inline-block;width:100px;font-weight:bold;}
.login_bg .sinfo{display:inline-block;width:220px;}
.login_bg .sinfo input{height:25px;line-height:25px;width:220px;background:#e5e5e5;border:1px dotted #BEBEBE;}
.login_bg .memory{padding-left:105px;}
.login_bg .memory span{margin-right:7px;}


/**메뉴header**/
.top_logo{padding:10px 0;}
.btn_out{width:100px;background:#a2a2a2;height:20px;line-height:20px;}
.menu{position:relative;overflow:hidden;}
.menu ul{background:#303030;position:relative;overflow:hidden;}
.menu ul li{width:200px;float:left;height:25px;text-align:center;height:35px;line-height:35px;color:#ffffff;font-weight:bold;}
.menu_on{background:black;color:red;}


/*회원리스트*/
.find_form .result{width:500px;display:inline-block;}
.find_form input,select{border:1px solid #a2a2a2;height:25px;}
.mem_list table{width:100%;text-align:center;}
.mem_list tr{height:28px;line-height:28px;border-bottom:1px solid #A2A2A2}
.mem_list thead{background:#A2A2A2}
.mem_list table a{color:#3C3C3C;text-decoration:none;}
.page_nav{text-align:center;}
.page_nav span{display:inline-block;width:20px;color:#ccccc}
.page_nav a{color:#3C3C3C;text-decoration:none;}


/*공지사항*/
h2{text-align:center;margin-top:50px;width:700px;height:45px;line-height:45px;margin-left:auto;margin-right:auto;background:#A2A2A2}
.notice_form{width:700px;margin-left:auto;margin-right:auto;}
.notice_form ul{background:#ededed;padding:5px;}
.notice_form li{padding:3px 0;}
.notice_form label{display:inline-block;width:120px;padding-left:30px;vertical-align:top;}
.notice_form input{height:25px;}
.notice_form textarea{}

/*관리자 등록*/
.admin_form{width:700px;margin-left:auto;margin-right:auto;}
.admin_form ul{background:#ededed;padding:15px;}
.admin_form li{line-height:38px;}
.admin_form label{display:inline-block;width:120px;padding-left:30px;vertical-align:top;}
.admin_form input{height:25px;}


/*리포트*/
.chart_div{width:100%;height:300px;margin-top:50px;text-align:center}
.report_ads_name a{color:#3C3C3C;text-decoration:none;}
.report_ads_name a:hover{color:#3C3C3C;text-decoration:none;}

/*기본*/
.line_center{text-align:center;}
.line_right{text-align:right;}
.line_left{text-align:left;}
.sp_t30px{margin-top:30px;}
.sp_t10px{margin-top:10px;}
.sp_t60px{margin-top:60px;}
.sp_l10px{margin-left:10px;}
.sp_r10px{margin-right:10px;}
.sp_r30px{margin-right:30px;}
.btn_red1{margin:0 auto;width:150px;display:inline-block;width:150px;height:45px;line-height:45px;color:#ffffff;background:#e9002d;font-weight:bold;font-size:14px;}
.block{display:block;}
.btn{display:inline-block;color:#ffffff;font-weight:bold;font-size:14px;text-align:center;vertical-align:center;}
.btn_gray2{width:50px;line-height:27px;height:27px;background:#a2a2a2;color:#ffffff}
.btn_gray3{width:130px;line-height:25px;height:25px;background:#a2a2a2;color:#ffffff;}
.btn_red{width:180px;line-height:40px;height:40px;background:#e9002d;color:#ffffff;}
.btn_gray{width:180px;line-height:40px;height:40px;background:#a2a2a2;color:#ffffff;}


